---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/shared/Header.astro";
import Footer from "../../components/shared/Footer.astro";
import ClothingDetailComponent from "../../components/ClothingDetail/ClothingDetailComponent.astro";
import {
  MenClothings,
  TopClothing,
  WomenClothings,
} from "../../data/clothingData.js";

// Required for dynamic routes
export async function getStaticPaths() {
  const allClothings = [...MenClothings, ...WomenClothings, ...TopClothing];
  return allClothings.map((item) => ({
    params: { slug: item.slug },
  }));
}

const { slug } = Astro.params;
const item = [...MenClothings, ...WomenClothings, ...TopClothing].find(
  (i) => i.slug === slug
);

if (!item) {
  throw new Error(`Ítem no encontrado: ${slug}`);
}
---

<Layout title={item.name}>
  <header
    class="bg-white py-4 px-10 flex items-center fixed z-50 top-0 w-full justify-between shadow-sm border-b border-gray-100"
  >
    <Header />
  </header>
  <main class="mt-20">
    <ClothingDetailComponent
      title={item.name}
      price={item.price}
      image={item.image.src}
      shippingCost={15.0}
    />
  </main>
  <footer class="bg-[#333333] text-white py-12">
    <Footer />
  </footer>
</Layout>
