---
import { WomenClothings } from "../../data/clothingData";
---

<header class="text-center py-12">
  <h1 class="text-4xl font-bold mb-2">Para Ella</h1>
  <p class="text-xl text-gray-600">Temporada de Verano</p>
</header>

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
  {
    WomenClothings.map((item) => (
      <a href={`/clothing/${item.slug}`} class="group text-center">
        <div class="overflow-hidden rounded-xl">
          <img
            src={item.image.src}
            alt={item.name}
            class="w-full h-[450px] object-contain transition-transform duration-300 ease-in-out group-hover:scale-105 rounded-xl bg-gray-50"
          />
        </div>
        <p class="mt-4 font-semibold text-center">{item.name}</p>
        <p class="mt-1 text-gray-500 text-center">
          S/ {item.price.toFixed(2)}
        </p>
      </a>
    ))
  }
</div>
