---
import ImageWomenClothing1 from "../../assets/clothing/women_clothing/enterizo_formal_manga_larga_mujer_rojo.webp";
import ImageWomenClothing2 from "../../assets/clothing/women_clothing/vestido_elegante_largo_mujer_blanco.webp";
import ImageWomenClothing3 from "../../assets/clothing/women_clothing/vestido_elegante_midi_mujer_semi_transparente.webp";
import ImageWomenClothing4 from "../../assets/clothing/women_clothing/vestido_elegante_midi_mujer_bordeado_blanco.webp";
import ImageWomenClothing5 from "../../assets/clothing/women_clothing/vestido_elegante_midi_mujer_rojo.webp";
import ImageWomenClothing6 from "../../assets/clothing/women_clothing/vestido_elegante_midi_mujer_negro.webp";
---

<header class="text-center py-12">
  <h1 class="text-4xl font-bold mb-2">Para Ella</h1>
  <p class="text-xl text-gray-600">Temporada de Verano</p>
</header>

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
  <!-- Producto 1 -->
  <div class="group text-center">
    <div class="overflow-hidden rounded-xl">
      <img
        src={ImageWomenClothing1.src}
        alt="Enterizo Formal Manga Larga"
        class="w-full h-[450px] object-contain transition-transform duration-300 ease-in-out group-hover:scale-105 rounded-xl bg-gray-50"
      />
    </div>
    <p class="mt-4 font-semibold text-center">
      Enterizo Formal Manga Larga Rojo
    </p>
    <p class="mt-1 text-gray-500 text-center">S/ 199.90</p>
  </div>

  <!-- Producto 2 -->
  <div class="group text-center">
    <div class="overflow-hidden rounded-xl">
      <img
        src={ImageWomenClothing2.src}
        alt="Vestido Elegante Largo Blanco"
        class="w-full h-[450px] object-contain transition-transform duration-300 ease-in-out group-hover:scale-105 rounded-xl bg-gray-50"
      />
    </div>
    <p class="mt-4 font-semibold text-center">Vestido Elegante Largo Blanco</p>
    <p class="mt-1 text-gray-500 text-center">S/ 259.90</p>
  </div>

  <!-- Producto 3 -->
  <div class="group text-center">
    <div class="overflow-hidden rounded-xl">
      <img
        src={ImageWomenClothing3.src}
        alt="Vestido Elegante Midi Semi Transparente"
        class="w-full h-[450px] object-contain transition-transform duration-300 ease-in-out group-hover:scale-105 rounded-xl bg-gray-50"
      />
    </div>
    <p class="mt-4 font-semibold text-center">
      Vestido Elegante Midi Semi Transparente
    </p>
    <p class="mt-1 text-gray-500 text-center">S/ 229.90</p>
  </div>

  <!-- Producto 4 -->
  <div class="group text-center">
    <div class="overflow-hidden rounded-xl">
      <img
        src={ImageWomenClothing4.src}
        alt="Vestido Elegante Midi Bordeado Blanco"
        class="w-full h-[450px] object-contain transition-transform duration-300 ease-in-out group-hover:scale-105 rounded-xl bg-gray-50"
      />
    </div>
    <p class="mt-4 font-semibold text-center">
      Vestido Elegante Midi Bordeado Blanco
    </p>
    <p class="mt-1 text-gray-500 text-center">S/ 219.90</p>
  </div>

  <!-- Producto 5 -->
  <div class="group text-center">
    <div class="overflow-hidden rounded-xl">
      <img
        src={ImageWomenClothing5.src}
        alt="Vestido Elegante Midi Rojo"
        class="w-full h-[450px] object-contain transition-transform duration-300 ease-in-out group-hover:scale-105 rounded-xl bg-gray-50"
      />
    </div>
    <p class="mt-4 font-semibold text-center">Vestido Elegante Midi Rojo</p>
    <p class="mt-1 text-gray-500 text-center">S/ 209.90</p>
  </div>

  <!-- Producto 6 -->
  <div class="group text-center">
    <div class="overflow-hidden rounded-xl">
      <img
        src={ImageWomenClothing6.src}
        alt="Vestido Elegante Midi Negro"
        class="w-full h-[450px] object-contain transition-transform duration-300 ease-in-out group-hover:scale-105 rounded-xl bg-gray-50"
      />
    </div>
    <p class="mt-4 font-semibold text-center">Vestido Elegante Midi Negro</p>
    <p class="mt-1 text-gray-500 text-center">S/ 209.90</p>
  </div>
</div>
